//= require reset
//= require table-grid
@charset "utf-8";

body {
  background: #27292b;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font: 12px Helvetica, sans-serif;
}

.header {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.logo {
  display: inline-block;

  img {
    height: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.subtitle {
  float: right;
  display: inline-block;
  margin-left: 10px;
  font-family: Medula One;
  color: #efedd2;
  font-size: 24px;
  vertical-align: top;
  font-weight: normal;

  &:before {
    content: ":";
    margin-right: 5px;
  }
}

// maps

.street-view {
  height: 500px;
}



// group

.group {
  position: relative;
  margin: 20px auto;
  background: #f7f7f7;
  border: 1px solid #fff;

  .pic {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid #fff;
    background-color: #333;
  }

  .pic img {
    background-color: #333;
    max-height: 100%;
  }

  .pic .info {
    transition: bottom .5s;
    line-height: 3ex;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    background: rgba(255, 199, 56, 0.8);
    color: #111;
  }

  .pic:hover .info {
    bottom: 0;
  }

  .date {
    float: right;
    background: rgba(255, 199, 56, 0.8);
    color: #333;
    margin: 3px;
    padding: 5px;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 3ex;
  }

  .notes {
    color: #333;
  }

  .copyright {
    font-size: 11px;

    a {
      color: #fff;
    }
  }
}
