//= require reset
//= require fonts
//= require table-grid
@charset "utf-8";

body {
  background: #27292b;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font: 12px Helvetica, sans-serif;
}

.header {
  display: none;
  position: fixed;
  z-index: 9999;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.logo {
  display: inline-block;

  img {
    height: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.subtitle {
  float: right;
  display: inline-block;
  margin-left: 10px;
  font-family: Medula One;
  color: #efedd2;
  font-size: 24px;
  vertical-align: top;
  font-weight: normal;

  &:before {
    content: ":";
    margin-right: 5px;
  }
}

// coverscreen

.coverscreen {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  .coverscreen-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .credit {
    position: relative;
    top: 20px;
    left: 20px;
    text-align: left;
  }

  .credit a {
    font-family: LeHavreLayers-Primary;
    letter-spacing: -0.1em;
    font-size: 16px;
    color: #333;
    text-shadow: none;
    text-decoration: none;
  }

  .main-title {
    font-size: 120px;
    font-family: LeHavreLayers-CntrRev;
    letter-spacing: -0.1em;
    font-weight: normal;

    .of {
      display: block;
      font-size: 50px;
      font-weight: normal;
      font-family: LeHavreLayers-DblLine;
      letter-spacing: 0.0em;
      color: rgba(255, 199, 56, 1);
    }
  }

  .main-subtitle {
    font-size: 30px;
    font-family: LeHavreLayers-DblLine;
    color: rgba(255, 199, 56, 1);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 1em;
  }
}

// maps

.street-view {
  position: relative;
  height: 100vh;
}

.then-now {
  position: absolute;
  left: calc(50% - 100px);
  top: -14px;
  z-index: 9999;
  width: 100px;
  padding: 5px 10px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.9);
  color: #aaa;
}



// group

.group {
  position: relative;
  background: #f7f7f7;

  .pic {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
  }

  .pic img {
    background-color: #333;
    max-height: 100%;
  }

  .pic .info {
    transition: bottom .5s;
    line-height: 3ex;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    background: rgba(255, 199, 56, 0.8);
    color: #111;
  }

  .pic:hover .info {
    bottom: 0;
  }

  .date {
    float: right;
    background: rgba(255, 199, 56, 0.8);
    color: #333;
    margin: 3px;
    padding: 5px;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 3ex;
  }

  .notes {
    color: #333;
  }

  .copyright {
    font-size: 11px;

    a {
      color: #fff;
    }
  }
}
