/* line 1, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 12, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 16, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
body {
  line-height: 1; }

/* line 20, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
ol, ul {
  list-style: none; }

/* line 24, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 36, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 42, /Users/justin/dev/me/ruby/portland-history/source/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }
/**
* @license
* MyFonts Webfont Build ID 2939052, 2014-12-13T12:43:55-0500
*
* The fonts listed in this notice are subject to the End User License
* Agreement(s) entered into by the website owner. All other parties are
* explicitly restricted from using the Licensed Webfonts(s).
*
* You may obtain a valid license at the URLs below.
*
* Webfont: LeHavreLayers-Centerline by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/centerline/
*
* Webfont: LeHavreLayers-CntrRev by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/centerline-reversed/
*
* Webfont: LeHavreLayers-DblLine by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/double-line/
*
* Webfont: LeHavreLayers-Diagonal by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/diagonal/
*
* Webfont: LeHavreLayers-DottedRev by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/dotted-reversed/
*
* Webfont: LeHavreLayers-OutlineHvy by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/outline-heavy/
*
* Webfont: LeHavreLayers-Primary by insigne
* URL: http://www.myfonts.com/fonts/insigne/le-havre-layers/primary/
*
*
* License: http://www.myfonts.com/viewlicense?type=web&buildid=2939052
* Licensed pageviews: 10,000
* Webfonts copyright: Copyright (c) 2008 by Jeremy Dooley. All rights reserved.
*
* © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */

@font-face {font-family: 'LeHavreLayers-Primary';src: url('../webfonts/2CD8AC_6_0.eot');src: url('../webfonts/2CD8AC_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_6_0.woff2') format('woff2'),url('../webfonts/2CD8AC_6_0.woff') format('woff'),url('../webfonts/2CD8AC_6_0.ttf') format('truetype');}
@font-face {font-family: 'LeHavreLayers-DblLine';src: url('../webfonts/2CD8AC_2_0.eot');src: url('../webfonts/2CD8AC_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_2_0.woff2') format('woff2'),url('../webfonts/2CD8AC_2_0.woff') format('woff'),url('../webfonts/2CD8AC_2_0.ttf') format('truetype');}
@font-face {font-family: 'LeHavreLayers-CntrRev';src: url('../webfonts/2CD8AC_1_0.eot');src: url('../webfonts/2CD8AC_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_1_0.woff2') format('woff2'),url('../webfonts/2CD8AC_1_0.woff') format('woff'),url('../webfonts/2CD8AC_1_0.ttf') format('truetype');}

/*
@font-face {font-family: 'LeHavreLayers-Centerline';src: url('../webfonts/2CD8AC_0_0.eot');src: url('../webfonts/2CD8AC_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_0_0.woff2') format('woff2'),url('../webfonts/2CD8AC_0_0.woff') format('woff'),url('../webfonts/2CD8AC_0_0.ttf') format('truetype');}
@font-face {font-family: 'LeHavreLayers-Diagonal';src: url('../webfonts/2CD8AC_3_0.eot');src: url('../webfonts/2CD8AC_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_3_0.woff2') format('woff2'),url('../webfonts/2CD8AC_3_0.woff') format('woff'),url('../webfonts/2CD8AC_3_0.ttf') format('truetype');}
@font-face {font-family: 'LeHavreLayers-DottedRev';src: url('../webfonts/2CD8AC_4_0.eot');src: url('../webfonts/2CD8AC_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_4_0.woff2') format('woff2'),url('../webfonts/2CD8AC_4_0.woff') format('woff'),url('../webfonts/2CD8AC_4_0.ttf') format('truetype');}
@font-face {font-family: 'LeHavreLayers-OutlineHvy';src: url('../webfonts/2CD8AC_5_0.eot');src: url('../webfonts/2CD8AC_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CD8AC_5_0.woff2') format('woff2'),url('../webfonts/2CD8AC_5_0.woff') format('woff'),url('../webfonts/2CD8AC_5_0.ttf') format('truetype');}*/
/*!
 * table-grid (http://mdo.github.io/table-grid)
 * Released under MIT, (c) 2014 Mark Otto
 */
/*
 * Container
 */
/* Holds and centers the site content */
/* line 13, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
.container {
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto; }

/*
 * The Grid
 */
@media (min-width: 600px) {
  /* Add `.grid` for the table */
  /* line 26, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative; }

  /* Add `.col` for the table cells, or columns */
  /* line 34, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col {
    display: table-cell; }

  /* Set the widths */
  /* line 39, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-1 {
    width: 8.333333%; }

  /* line 40, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-2 {
    width: 16.666667%; }

  /* line 41, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-3 {
    width: 25%; }

  /* line 42, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-4 {
    width: 33.333333%; }

  /* line 43, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-5 {
    width: 41.666667%; }

  /* line 44, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-6 {
    width: 50%; }

  /* line 45, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-7 {
    width: 58.333333%; }

  /* line 46, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-8 {
    width: 66.666667%; }

  /* line 47, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-9 {
    width: 75%; }

  /* line 48, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-10 {
    width: 83.333333%; }

  /* line 49, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-11 {
    width: 91.666667%; }

  /* line 50, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .col-12 {
    width: 100%; }

  /* Padded columns */
  /* line 53, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .grid-padded {
    margin-left: -1rem;
    margin-right: -1rem; }

  /* line 57, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
  .grid-padded .grid {
    border-spacing: 1rem 0; } }
/*
 * Vertically center grid content
 *
 * Requires content within the column to be inline or inline-block.
 */
/* line 69, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/table-grid.scss */
.grid-align-middle .col {
  vertical-align: middle; }
/* line 6, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
body {
  background: #27292b;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font: 12px Helvetica, sans-serif; }

/* line 14, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.footer {
  background: #111;
  padding: 20px;
  text-align: center;
  color: #555; }
  /* line 20, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .footer a {
    color: #777; }

/* line 27, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.coverscreen {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  /* line 32, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .coverscreen .coverscreen-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  /* line 40, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .coverscreen .credit {
    position: relative;
    top: 20px;
    left: 20px;
    text-align: left; }
  /* line 47, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .coverscreen .credit a {
    font-family: LeHavreLayers-Primary;
    letter-spacing: -0.1em;
    font-size: 16px;
    color: #333;
    text-shadow: none;
    text-decoration: none; }
  /* line 56, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .coverscreen .main-title {
    font-size: 120px;
    font-family: LeHavreLayers-CntrRev;
    letter-spacing: -0.1em;
    font-weight: normal; }
    /* line 62, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
    .coverscreen .main-title .of {
      display: block;
      font-size: 50px;
      font-weight: normal;
      font-family: LeHavreLayers-DblLine;
      letter-spacing: 0.0em;
      color: #ffc738; }
  /* line 72, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .coverscreen .main-subtitle {
    font-size: 30px;
    font-family: LeHavreLayers-DblLine;
    color: #ffc738;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 1em; }

/* line 83, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.street-view {
  position: relative;
  height: 100vh; }

/* line 88, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.then-now {
  position: absolute;
  left: calc(50% - 100px);
  top: -12px;
  padding: 5px 10px;
  width: 100px;
  z-index: 9999;
  text-align: center;
  border-radius: 2px;
  background: #E8B351;
  color: rgba(0, 0, 0, 0.8);
  font-family: LeHavreLayers-Primary;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }

/* line 107, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.group {
  position: relative;
  background: #f7f7f7; }
  /* line 111, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .pic {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333; }
  /* line 122, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .pic img {
    background-color: #333;
    max-height: 100%; }
  /* line 127, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .pic .info {
    transition: bottom .5s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    line-height: 3ex;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    background: rgba(255, 199, 56, 0.8);
    color: #111; }
  /* line 143, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .date {
    float: right;
    background: rgba(255, 199, 56, 0.8);
    color: #333;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    z-index: 9999; }
  /* line 153, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .anchor {
    float: left;
    color: #fff;
    z-index: 9999;
    margin: 20px;
    font-size: 30px;
    font-family: LeHavreLayers-Primary;
    text-decoration: none;
    outline: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
  /* line 165, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 3ex; }
  /* line 172, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .notes {
    color: #333; }
  /* line 176, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
  .group .copyright {
    font-size: 11px; }
    /* line 179, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
    .group .copyright a {
      color: #fff; }

/* line 188, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.alt-info ul {
  display: inline-block;
  position: relative;
  top: -5px; }

/* line 195, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.name a {
  color: #333; }

/* line 199, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.alt-info ul {
  list-style: none; }

/* line 200, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.alt-info li {
  display: inline-block;
  margin: 0 5px;
  font-family: Lustria; }

/* line 208, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.blog-icon-svg,
.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 10px; }

/* line 216, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.github-icon-svg:hover path {
  fill: #4183c4; }

/* line 220, /Users/justin/dev/me/ruby/portland-streetcar/source/stylesheets/all.scss */
.twitter-icon-svg:hover path {
  fill: #55acee; }
