<div class="coverscreen group">
  <div class="pic" style="background-image:url(images/streetcar/burnside.jpg)">
    <div class="credit">
      <a href="//labratrevenge.com">labratrevenge</a>
    </div>
    <div class="coverscreen-content">
      <h1 class="main-title">STREETCARS <span class="of">of</span> PORTLAND</h1>
      <h2 class="main-subtitle">then and now</h2>
    </div>
  </div>
</div>

<div class="container">
  <!-- group -->
  <div class="group" id="p1">
    <div class="pic" style="background-image:url(images/streetcar/burnside3.jpg)">
      <a class="anchor" href="#p1">#</a>
      <span class="date">1913</span>
      <div class="info">
        <h2 class="title">West Burnside looking east from 3rd</h2>
        <p class="notes">
          Burnside street scene includes Clarke's sign, "U.S. Army Recruiting Station" window sign, Woodlawn trolley, All Nations Saloon, and horse drawn carriages.
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.5230753" data-lon="-122.673368" data-heading="100"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p2">
    <div class="pic" style="background-image:url(images/streetcar/burnside.jpg)">
      <a class="anchor" href="#p2">#</a>
      <span class="date">1932</span>
      <div class="info">
        <h2 class="title">Intersection of West Burnside Street and Southwest 3rd Avenue before widening looking south down Southwest 3rd Avenue</h2>
        <p class="notes">
          Photograph includes lighted archways, cars and trolleys, Union Theater, Union Cafe, Union Clothing Company, Winchester House, and Cut Rate Drugs. The photograph shows the effects of the widening on the people, downtown traffic, and buildings. Alberta streetcar No 41 is visible. Coca - Cola advertisement is visible.
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.523125" data-lon="-122.673361" data-heading="190"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p3">
    <div class="pic" style="background-image:url(images/streetcar/sandy.jpg)">
      <a class="anchor" href="#p3">#</a>
      <span class="date">1934</span>
      <div class="info">
        <h2 class="title">Northeast Sandy Boulevard and 41st Avenue looking east</h2>
        <p class="notes">
          Open produce market, pedestrians, vehicles and businesses visible in image. Organization : First National Bank - Rose City Branch Keyword : Beaumont streetcar.
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.535511" data-lon="-122.621316" data-heading="50"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p4">
    <div class="pic" style="background-image:url(images/streetcar/broadway.jpg)">
      <a class="anchor" href="#p4">#</a>
      <span class="date">1937</span>
      <div class="info">
        <h2 class="title">North Broadway at Larrabee Avenue and Interstate Avenue looking east</h2>
        <p class="notes">
          Vehicles, pedestrians and businesses visible in image. Negative : 1358.1 Organization : Clow Roofing Company ; Portland Van and Storage Company ; Heinle's Good Eats Keyword : Streetcar ; Bus ; Coca Cola sign.
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.533187" data-lon="-122.671690" data-heading="50"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p5">
    <div class="pic" style="background-image:url(images/streetcar/sw4th.jpg)">
      <a class="anchor" href="#p5">#</a>
      <span class="date">1938</span>
      <div class="info">
        <h2 class="title">Southwest 4th Avenue looking north towards Morrison Street</h2>
        <p class="notes">
           Businesses, pedestrians and vehicles visible in image. Black and white copy of image also exists. Negative at 11 - 06 - 32 / 1. Negative : 1384 Organization : Fred Meyer Toiletries and Remedies ; Dr J J Colton - Dentist ; Chown Hardware Keyword : Streetcar.
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.518485" data-lon="-122.676577" data-heading="10"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p6">
    <div class="pic" style="background-image:url(images/streetcar/nw19th.jpg)">
      <a class="anchor" href="#p6">#</a>
      <span class="date">1939</span>
      <div class="info">
        <h2 class="title">Northwest 19th Ave looking south at West Burnside Street</h2>
        <p class="notes">
          David Campbell Memorial at left side of photograph. Channelization and traffic islands, businesses, pedestrians and vehicles visible in image. Copy of photograph at 5 / 49, 12 - 10 - 20 / 2. Negative : 1387.2 Organization : Majestic Cleaners ; Windolph Motor Company Keyword : Streetcar - WH [Willamette Heights].
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.523000" data-lon="-122.690304" data-heading="170"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p7">
    <div class="pic" style="background-image:url(images/streetcar/burnside2.jpg)">
      <a class="anchor"  href="#p7">#</a>
      <span class="date">1939</span>
      <div class="info">
        <h2 class="title">West Burnside Street, Southwest Alder Street and 19th Avenue looking east</h2>
        <p class="notes">
          Photograph shows completed channelizing islands in roadways. Pedestrians, vehicles and businesses visible in image. Scan : A / P 490 Negative : 1385.4 Organization : Signal Gasoline Station Keyword : Streetcar ; Majestic Cleaners sign
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.523000" data-lon="-122.690304" data-heading="100"></div>
    </div>
  </div>
  <!-- /group -->

  <!-- group -->
  <div class="group" id="p8">
    <div class="pic" style="background-image:url(images/streetcar/sw19th.jpg)">
      <a class="anchor" href="#p8">#</a>
      <span class="date">1939</span>
      <div class="info">
        <h2 class="title">Southwest 19th Avenue, Morrison Street and 18th Avenue looking north towards West Burnside Street</h2>
        <p class="notes">
          David Campbell Memorial at center of photograph. Channelization and traffic islands, businesses and vehicles visible in image. Copy of photograph at 5 / 49, 12 - 10 - 20 / 2. Negative : 1387.3 Organization : Multnomah Market Keyword : Streetcar - WH [Willamette Heights] ; Coca Cola billboard ; Dodge billboard
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="then-now">Then / Now</div>
      <div class="js-street-view street-view" data-lat="45.5223912" data-lon="-122.6900912" data-heading="10"></div>
    </div>
  </div>
  <!-- /group -->

</div>
